examples/visualization_in_pie_charts.json
[{"id":"5d7ea767b1f29a8a","type":"inject","z":"f3e346780eaa6c3c","name":"Every 3 seconds","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":340,"y":1280,"wires":[["d720e95ec17b8a3d"]]},{"id":"d720e95ec17b8a3d","type":"process-resources","z":"f3e346780eaa6c3c","name":"","outputField":"payload","analyzeChildren":true,"x":560,"y":1280,"wires":[["390133c39dac03a3","f006a5237512fcdd"]]},{"id":"f006a5237512fcdd","type":"function","z":"f3e346780eaa6c3c","name":"Compose cpu chart data","func":"var chartInput = {\n    \"series\": [\"X\"],\n    \"data\": [[]],\n    \"labels\": []\n};\n\n// Avoid that the pie disappears (for main cpu value 0)\nif (msg.payload.main.cpu === 0) msg.payload.main.cpu = 0.1;\n\n// Add the cpu of the main process first\nchartInput.data[0].push(msg.payload.main.cpu);\nchartInput.labels.push(msg.payload.main.pid + \" (main)\");\n\n// Add the cpu of all child processes\nmsg.payload.children.forEach(function(child) {\n    // Avoid that the pie disappears (for child cpu value 0)\n    if (child.cpu === 0) child.cpu = 0.1;\n    chartInput.data[0].push(child.cpu);\n    chartInput.labels.push(child.pid + \" (child)\");\n});\n\nreturn { payload:[chartInput] };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1280,"wires":[["5bc46029163c4dad"]]},{"id":"5bc46029163c4dad","type":"ui_chart","z":"f3e346780eaa6c3c","name":"CPU per process id - Pie chart","group":"89749fb7.87f01","order":3,"width":"7","height":"6","label":"CPU per process id - Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1110,"y":1280,"wires":[[]]},{"id":"390133c39dac03a3","type":"function","z":"f3e346780eaa6c3c","name":"Compose memory chart data","func":"var chartInput = {\n    \"series\": [\"X\"],\n    \"data\": [[]],\n    \"labels\": []\n};\n\n// Avoid that the pie disappears (for main memory value 0)\nif (msg.payload.main.memory === 0) msg.payload.main.memory = 0.1;\n\n// Add the memory of the main process first\nchartInput.data[0].push(msg.payload.main.memory);\nchartInput.labels.push(msg.payload.main.pid + \" (main)\");\n\n// Add the memory of all child processes\nmsg.payload.children.forEach(function(child) {\n    // Avoid that the pie disappears (for child memory value 0)\n    if (child.memory === 0) child.memory = 0.1;\n    chartInput.data[0].push(child.memory);\n    chartInput.labels.push(child.pid + \" (child)\");\n});\n\nreturn { payload:[chartInput] };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1320,"wires":[["01be4e418c18c5b0"]]},{"id":"01be4e418c18c5b0","type":"ui_chart","z":"f3e346780eaa6c3c","name":"Memory per process id - Pie chart","group":"89749fb7.87f01","order":3,"width":"7","height":"6","label":"Memory per process id - Pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1120,"y":1320,"wires":[[]]},{"id":"89749fb7.87f01","type":"ui_group","name":"Message Profiler","tab":"d7901f40.2659d","order":2,"disp":true,"width":"16","collapse":false,"className":""},{"id":"d7901f40.2659d","type":"ui_tab","name":"Charts","icon":"dashboard","order":40,"disabled":false,"hidden":false}]
