examples/visualization_in_line_charts.json
[{"id":"a702721faa2028b8","type":"ui_chart","z":"f3e346780eaa6c3c","name":"CPU - Line chart","group":"89749fb7.87f01","order":3,"width":"7","height":"6","label":"CPU per process - Line chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":990,"y":1480,"wires":[[]]},{"id":"9577a5ac30fd8b52","type":"change","z":"f3e346780eaa6c3c","name":"CPU main","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.cpu","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"CPU main","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1440,"wires":[["a702721faa2028b8"]]},{"id":"018b09afd0179b19","type":"change","z":"f3e346780eaa6c3c","name":"CPU children","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cpuChildren","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"CPU children","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1480,"wires":[["a702721faa2028b8"]]},{"id":"1bb0c73d560c1869","type":"change","z":"f3e346780eaa6c3c","name":"CPU total","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cpuTotal","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"CPU total","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1520,"wires":[["a702721faa2028b8"]]},{"id":"4f5061a650314b1f","type":"ui_chart","z":"f3e346780eaa6c3c","name":"Memory -Line chart","group":"89749fb7.87f01","order":3,"width":"7","height":"6","label":"Memory per process - Line chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1030,"y":1620,"wires":[[]]},{"id":"c3b853bb9bf28fd5","type":"change","z":"f3e346780eaa6c3c","name":"Memory main","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.memory","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Memory main","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1580,"wires":[["4f5061a650314b1f"]]},{"id":"de034c08d0033e67","type":"change","z":"f3e346780eaa6c3c","name":"Memory children","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.memoryChildren","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Memory children","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1620,"wires":[["4f5061a650314b1f"]]},{"id":"722108c9ecbc098d","type":"change","z":"f3e346780eaa6c3c","name":"Memory total","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.memoryTotal","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Memory total","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1660,"wires":[["4f5061a650314b1f"]]},{"id":"e0d4453875716364","type":"change","z":"f3e346780eaa6c3c","name":"Process count","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.processCount","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Process count","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1720,"wires":[["b8973b659167fbfc"]]},{"id":"b8973b659167fbfc","type":"ui_chart","z":"f3e346780eaa6c3c","name":"Process count - Line chart","group":"89749fb7.87f01","order":3,"width":"7","height":"6","label":"Process count - Line chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":1720,"wires":[[]]},{"id":"76e129a7dd6c96d3","type":"inject","z":"f3e346780eaa6c3c","name":"Every 3 seconds","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":350,"y":1440,"wires":[["27bf45a1dcec67d5"]]},{"id":"27bf45a1dcec67d5","type":"process-resources","z":"f3e346780eaa6c3c","name":"","outputField":"payload","analyzeChildren":true,"x":560,"y":1440,"wires":[["9577a5ac30fd8b52","018b09afd0179b19","1bb0c73d560c1869","c3b853bb9bf28fd5","e0d4453875716364","722108c9ecbc098d","de034c08d0033e67"]]},{"id":"89749fb7.87f01","type":"ui_group","name":"Message Profiler","tab":"d7901f40.2659d","order":2,"disp":true,"width":"16","collapse":false,"className":""},{"id":"d7901f40.2659d","type":"ui_tab","name":"Charts","icon":"dashboard","order":40,"disabled":false,"hidden":false}]
